.ca {
  width: 350px;
  border: none;
  height: 350px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.p-info {
  display: flex;
  justify-content: space-between;
}

.p-price {
  position: absolute;
  right: 20px;
  top: 20px;
}

.p-image img {
  width: 240px;
  height: 240px;
  /* transform: rotate(15deg); */
  transition: all 0.5s;
}

.ca:hover .heart i {
  animation: heart 300ms ease-in forwards;
  animation-delay: 500ms;
}

.p-about {
  position: absolute;
  width: 170px;
  font-size: 10px;
  top: 140px;
  left: -125px;
  opacity: 0;
}

.ca:hover .p-about {
  animation: content 300ms ease-in forwards;
}

@keyframes content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 25px;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ca:hover .p-image img {
  animation: onimage 300ms ease-in forwards;
}

@keyframes onimage {
  0% {
    width: 240px;
    height: 240px;
  }

  50% {
    width: 200px;
    transform: translateY(-30px);
    transform: translateX(100px);
  }

  100% {
    width: 150px;
    height: 150px;
    /* top: 100px; */
    transform: translateY(100px);
    transform: translateX(110px);
  }
}

.buttons {
  position: absolute;
  bottom: -150px;
}

.ca:hover .buttons {
  animation: buttons 500ms ease-in forwards;
}

@keyframes buttons {
  0% {
    bottom: -100px;
  }

  100% {
    bottom: 20px;
  }
}

.p-name {
  width: 85%;
}
