.grid-container {
	/* background-color:blue; */
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows:15vw 15vw 15vw 15vw; 
	/* // min-height: 100vh; */
    padding: 10px;
}



.bx-1 {
	background-color: #e67e22;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-end: 3;
    /* border: 5px solid black; */
    /* border-radius: 70px; */
    box-shadow: 5px 5px 5px black;
}


.bx-2 {
	background-color: #3498db;
	grid-row-start: 1;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-end: 2;
    box-shadow: 5px 5px 5px black;

}
.bx-3 {
    box-shadow: 5px 5px 5px black;

	background-color: #9b59b6;
	grid-row-start: 1;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-end: 3;

}
.bx-4 {
    box-shadow: 5px 5px 5px black;

	background-color: #34495e;
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-end: 5;

}
.bx-5 {
    box-shadow: 5px 5px 5px black;

	background-color: #f1c40f;
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-end: 4;
}
.bx-6 {

    box-shadow: 5px 5px 5px black;

	background-color: black;
	grid-row-start: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-end: 4;
}
.bx-7 {
    box-shadow: 5px 5px 5px black;

	background-color: #e74c3c;
	grid-row-start: 3;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-end: 5;
}
.bx-8 {
    box-shadow: 5px 5px 5px black;

	background-color: #bdc3c7;
    grid-row-start: 4; 
	grid-column-start: 2; 
	grid-column-end: 4;
	grid-row-end: 5;
}